a:hover,a:focus {
    color: #26ae61
}


.Dialoge {
    margin: 80px 10px 40px 0px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

#dialogeH1 {
    margin-bottom: 30px;
    font-family: Comic Sans MS, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.intro-rightside{
    width: 500px;
    margin: 40px 40px 40px 0px;
    padding: 10px;
}

.career-search{
    margin: 20px 0px 20px 0px;
}

.btn {
    background-color: #26ae61;
    border: none; 
    color: white; 
    padding: 8px 11px; 
    font-size: 14px; 
    cursor: pointer;
  }
.btn:hover {
    background-color: #26ae61;
  }

.Browse-categories-header{
    text-align: center;
    margin-bottom: 20px;
}

.Browse-category-image img{
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
}

.Browse-category-item{
    text-align: center;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}

.Browse-category-item h3{
    font-size: 18px;
    line-height: 32px;
    font-family: Comic Sans MS, sans-serif;
    font-weight: 700;
}

.Browse-category-item a{
    text-decoration: none;
    color: #333;
}

.Browse-category-btn{
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Comic Sans MS, sans-serif;
    text-decoration: none;
}

.carrer-option-div{
    margin: 70px 60px 50px 60px;
    padding: 10px;
}

.carrer-option-leftdiv{
    margin: 0px 0px 20px 0px;
    text-align: center;
    padding: 10px;
}

.carrer-option-rightdiv{
    margin: -70px 0px 40px -40px;
    text-align: center;
    padding: 10px;
}

#dialogeH2 {
    margin-bottom: 30px;
    font-family: Comic Sans MS, sans-serif;
    font-size: 35px;
    font-weight: 500;
}

.career-option-btn{
    margin: 40px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}

p {
    font-size: 14px;
    color:#9a9a9a;
    line-height: 26px;
    font-family: rubik, sans-serif;
    margin-bottom: 0;
}

h6 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

